.git
.gitignore
.gitattributes
.github
.idea
.vscode
.cursor
.nova
.zed
*.md
!README.md

.env
.env.*
!docker/dev/.env.example
!docker/prod/.env.example
!.env.example

node_modules
vendor
public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php

.phpunit.cache
.phpunit.result.cache
tests
phpunit.xml
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
